<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if page.url == "/" %}
      <title>{{page.title}}</title>
    {% else %}
      <title>{{page.title}} | {{site.title}}</title>
    {% endif %}

    <meta name="keywords" content="bash, template, scripting, command-line">
    <meta name="description" content="BASH3 Boilerplate">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{site.lanyon_assets.app.css}}" media="screen" charset="utf-8">
  </head>
  <body>
    <header>
      <div id="header-overlay"></div>
      <a href="/">
        <span id="logo"></span>
      </a>
      <div id="menu">
        <i class="material-icons">menu</i>
        <ul id="menu-items">
        </ul>
      </div>
      <span id="more">
        <i class="material-icons">expand_more</i>
      </span>
    </header>
    <section id="content">
      {% if page.url == "/" %}
        <div class="Social">
          <iframe src="http://ghbtns.com/github-btn.html?user=kvz&repo=bash3boilerplate&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
          <a href="https://travis-ci.org/kvz/bash3boilerplate"><img src="https://travis-ci.org/kvz/bash3boilerplate.svg" alt="Build Status"></a>
        </div>
      {% endif %}

      {{content}}

      {% if page.url == "/" %}
        <h2 id="activity-feed">On GitHub</h2>
        <p>
          BASH3 Boilerplate is a friendly group of folks further developing our
          re-usable templates as we go.
          We'd love to hear what you think <a href="https://github.com/kvz/bash3boilerplate">on GitHub</a>.
          Here's what's been going on recently.
        </p>
        <div class="on-the-githubs" data-event-source="repos/kvz/bash3boilerplate">Loading...</div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//kvz.github.io/on-the-githubs/js/jquery.on-the-githubs.min.js"></script>
        <script type="text/javascript">
          $('.on-the-githubs').onthegithubs();
        </script>
      {% endif %}

      <div class="Social">
        <iframe src="http://ghbtns.com/github-btn.html?user=kvz&repo=bash3boilerplate&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
      </div>

      <p>
        <small>
          <hr />
          Website design based on
          the wonderful <a href="http://apex.run">apex.run</a>
          with <a href="https://twitter.com/tjholowaychuk/status/744909762865696769">the author's consent</a>.
        </small>
      </p>
    </section>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/languages/bash.min.js"></script>
  <script async src="{{site.lanyon_assets.app.js}}"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-63083-13', 'auto');
    ga('send', 'pageview');
  </script>
</html>
