npm-debug.log
node_modules

website/index.md
website/_site/
website/_vendor/

website/changelog.md

website/faq.md

website/.jekyll-metadata

env.sh

website/main.sh
website/assets/build
website/.lanyon
website/.lanyon/vendor/bin
website/.lanyon/bin
assets/build
.lanyon
.lanyon/bin
